<% content_for :title do %>Whoops!
(404) -- FTCRoot<%end %>
<center>
<h1> Team (404!) not found </h1>
<p> Either this team doesn't exist.... <br/> or somehow we didn't add this team to the database </p>

<a href="mailto:help@ftcroot.com">Send us a clarification email</a>

<br/>
<br/>
<br/>
<br/>
</center>
