
<%= render 'events/live' %>
<div class="card">
    <div class="card-container">
        <center>
            <h3>Get new live event updates</h3>
            <p>Signup and we'll email you more info! :P</p>
        </center>
        <%= render 'shared/newsletter' %>
        <%#= link_to 'Join our email blast for more events to come!', page_path('newsletter'), class: 'pure-button nav-link button-red' %>
    </div>
</div>
