<div id="score_popup">
    <p>Score: <span id="score_score"></span> <br/>
    Autonomous: <span id="score_auto"></span><br/>
    Teleop:    <span id="score_teleop"></span><br/>
    Endgame:    <span id="score_endgame"></span><br/>
    Penalty:    <span id="score_penalty"></span>

    <br/>
    <br/>

    <br/>
    <div id="advinfo">
        <center>Advanced Data </center><br/>
        <span id="match"></span><br/>
    </div>
    </p>
    <button class="score_popup_close">Close</button>
</div>
<script>
    var hasSeen = false;
    $(function () {
        // Initialize the plugin
        if(!hasSeen) {

            console.log("DO");
            $('#score_popup').popup();
            $(".score_popup_open").unbind("click");
            $(".score_popup_open").click(function (e) {
                console.log("CLICK");
                line =  $(e.currentTarget).attr("data").split("|");
                spl = line[0].split(",");
                $("#score_score").html(spl[0]);
                $("#score_auto").html(spl[1]);
                $("#score_teleop").html(spl[3]);
                $("#score_endgame").html(spl[4]);
                $("#score_penalty").html(spl[5]);
                $("#advinfo").hide();
                if(line[1].length > 0) {
                    $("#advinfo").show();
                    spl2 = line[1].split(",");
                    $("#match").html("<b>Autonomous</b> <br/>"
                                    +"<ul><li>Beacons Pressed: " + spl2[0] + "</li>" +
                                    "<li>Did Move Cap Ball: " + spl2[1] + "</li>" +
                                    "<li>Ball Scored in Center Vortex: " + spl2[2] + "</li></ul>" +
                                    "<b>TeleOp</b> <ul><li> Beacons scored: " + spl2[6] + "</li><li>Ball Scored in Center Vortex: " + spl2[7] + "</li></ul>" +
                                    "<b>End Game</b> <ul><li>" + "Cap Ball Level: " + spl2[9] + "</li></ul>"

                );
                }
            });
            hasSeen = true;
        }
    });
</script>
