<div id="score_popup">
    <p>Score: <span id="score_score"></span> <br/>
    Autonomous: <span id="score_auto"></span><br/>
    Teleop:    <span id="score_teleop"></span><br/>
    Endgame:    <span id="score_endgame"></span><br/>
    Penalty:    <span id="score_penalty"></span>
    </p>
    <button class="score_popup_close">Close</button>
</div>
<script>
    var hasSeen = false;
    $(function () {
        // Initialize the plugin
        if(!hasSeen) {

            console.log("DO");
            $('#score_popup').popup();
            $(".score_popup_open").unbind("click");
            $(".score_popup_open").click(function (e) {
                console.log("CLICK");
                spl = $(e.currentTarget).attr("data").split(",");
                $("#score_score").html(spl[0]);
                $("#score_auto").html(spl[1]);
                $("#score_teleop").html(spl[3]);
                $("#score_endgame").html(spl[4]);
                $("#score_penalty").html(spl[5]);
            });
            hasSeen = true;
        }
    });
</script>
