<!-- style="background-color:#7b1fa2" -->
<!-- style="background-color:#f57e25;color:white" -->
<div class="card">
    <div class="card-container" style="background-color:#f57e25;color:white">
        <div class="col-md-8">
            <h3>Live Events
                <span class="pulse"></span>
            </h3>
            <br/>
        </div>
        <h4 class="whiter">
            Upcoming:
            <br/>
            <ul>
                <li>
                    March 23 - 25, 2017 : South Supers --
                    <%= link_to("Kilrain","https://ftcscores.com/event/1617-south-supers-kilrain") %>
                    and
                    <%= link_to("Pemberton","https://ftcscores.com/event/1617-south-supers-pemberton") %>
                </li>
            </ul>
        </h4>

        <br/>
        <p style="font-size:14px" class="whiter">
            <a href="http://tpascores.com" style="color:#7b1fa2">Powered by The Purple Alliance</a><br/>
            <span style="font-size:10px">
                <u>
                    <b>FTC<i>Scores</i>
                        could be used at your next event!</b>
                </u>
                Ask your event coordinator to contact
                <a href="mailto:info@tpascores.com" style="text-decoration:underline">info@ftcscores.com</a>
                for more information.</span>
        </p>
    </div>
</div>
