<!-- style="background-color:#7b1fa2" -->
<!-- style="background-color:#f57e25;color:white" -->
<div class="card">
    <div class="card-container" style="background-color:#f57e25;color:white">
        <div class="col-md-8">
            <h3>Live Events
                <span class="pulse"></span>
            </h3>
            <br/>
        </div>
        <h4 class="whiter">
            <br/>
            <ul>
                <li>
                    None Currently :(
                </li>
            </ul>
        </h4>
        <h4>
            <p><a href="http://ftcscores.com"> View All Events</a></p>
        </h4>
        <br/>
        <p style="font-size:14px" class="whiter">
            <center>
            <a href="http://tpascores.com" style="color:#7b1fa2">Powered by The Purple Alliance</a><br/>
            <span style="font-size:10px">
                <u>
                    <b>FTC<i>Scores</i>
                        could be used at your next event!</b>
                </u>
                Asthuk your event coordinator to contact
                <a href="mailto:info@tpascores.com" style="text-decoration:underline">info@ftcscores.com</a>
                for more information.</span>
            </center>
        </p>
    </div>
</div>
