<% content_for :title do %>About<% end %>
<h2>About the Website</h2>
<p> Simple FTC team finder </p>
<br/>
<p>Made by: FTC <%= link_to('ChaosMonkeyz 11090',"http://chaosmonkeyz.com/") %></p>

<br/>
<p>Ideas?<%= link_to('Email Us', 'mailto:help@ftcroot.com') %>. </p>
<p>Want to work together (need to know Ruby or Python)? We can do awesome things with more people :P</p>

<br/><br/>
<br/>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
