<h1> Useful Stuff </h1>

<h3> Scoring/Scouting </h3>
<p> Scoring spread sheet <%= link_to("Download on Google Drive","http://goo.gl/7oBw99") %> -- (FTC #7314) -- <%= link_to("Source","https://www.chiefdelphi.com/forums/showthread.php?threadid=151184")%></p>
<p> Game Video without intros <%= link_to("Watch on Youtube","https://www.youtube.com/watch?v=iQLrcQbm8cg") %> </p>


<h3> Suggestions? </h3>
<p> Do you have any tools that other teams would find helpful? <%= link_to('Email Us', 'mailto:reddhelp@gmail.com') %>. </p>

<p></p>
