ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	// color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
    // background: #ededed;
	color: #888;
    font-weight: 100%;
}

ul.tabs li.current{
	//
    background: #FFF;
	color: #222;
    font-weight: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.tab-content{
	display: none;
	// background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
