// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    width: 100%;
    table-layout: fixed;
    // border: 1px solid black;
}
.overflow-big {

    min-width: 800px;
    overflow-x:scroll;
}
.overflow {
    min-width: 600px;
    overflow-x:scroll;
}
.centered tr {
    text-align: center;

}
td span{

    overflow: hidden;;
}
.button-full {
    // background: rgba(0,0,0,0) !important;
    width: 100%;
    height: 100%;
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-dark {
    background: rgb(50, 50, 50); /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-primary {
    background: #15b916; /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-purple {
    background: rgb(150, 70, 150); /* this is a light blue */
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.full-width {
    width: 100%;
}
.td-superimportant {
    min-width: 300px;
    width:50%;
}
.td-important {
    min-width: 300px;
    width:20%;
}
.td-meh {
    // min-width: 30px;
    width:10%;
}
.td-smeh {
    min-width: 30px;
    width:10%;
}

td,th  { font-size: 0.9em !important; } /* =14px */

#score_popup {
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #000000;
    background: #eeeeee;
    padding: 12px;
    width: 300px;
    max-height: 604px;
}
.d-green {
    color: #99FF99;
}
.d-red {
    color: #FF6699;
}