<p id="notice"><%= notice %></p>
<center>
<h1>Regions</h1>
<table class="pure-table centered" style="max-width:600px;">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.name,region %></td>
        <!-- <td><%#= link_to 'Edit', edit_region_path(region) %></td>
        <td><%#= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
    <%= will_paginate @regions %>
  </tbody>
</table>
</center>
<br>

<%#= link_to 'New Region', new_region_path %>
