<%# navigation styled for Bootstrap 4.0 %>
<!-- <div class="container"> -->
<div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to(image_tag("Logo-02.png", width: '205'),root_path,:style=>"height:100%;margin-top:-10px;",:class=>"navbar-brand") %>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- <h5> -->
            <ul class="navbar-nav mr-auto">
                <%= render 'layouts/navigation_links' %>
            </ul>
            <!-- </h5> -->
            </div>
    </nav>
</div>
