<%# add navigation links to this file %>
<!-- <li class='nav-item'><%= link_to 'Teams', 'map', class: 'nav-link' %></li> -->
<!-- <li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li> -->
<!-- <li class='nav-item'><%= link_to 'Contact Us', page_path('contact'), class: 'nav-link' %></li> -->
