<%# add navigation links to this file %>
<!-- <li class='nav-item'><%= link_to 'Twitter Mojo', page_path('twitter'), class: 'nav-link' %></li> -->
<li class='nav-item'><%= link_to 'Useful Stuff', page_path('usefultools'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Search FTC Forum', '/search', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
