<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar3">
      <ul class="nav navbar-nav">
          <li class='nav-item'><%= link_to 'Made by ChaosMonkeyz 11090', page_path('about'), class: 'nav-link' %></li>
      </ul>
      <p class='nav' style="float:right;color:white;"> Last Update: 2016-11-30 08:22:44PM </p>
    </div>
  </nav>
</div>
