<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <div class="navbar navbar-dark bg-inverse">
      <div style="float:right;">
      <span style="text-align:right"><%= social_share_button_tag("FTCRoot - find, scout and view FTC teams and events", :url => "http://www.ftcroot.com") %></span></div>
      <div><p class='nav' style="color:white;font-size:10px; float:right; "> Last: 2017-02-15 12:14:40PM, pull 20170130 </p></div>
  </div>
</div>
